<div class="flex justify-center w-full h-1/7 <md:border-2 <md:h-1/7">
  <div
    class="flex justify-between w-17/20 my-20px items-center 
    <md:items-end <md:h-full <md:justify-center <md:items-end <md:my-0"
  >
    <a class="w-1/7 <md:w-200px <md:flex <md:justify-center <md:items-end <md:h-50px" href="/"
      ><img src="../././img/logo.png" class="w-full <md:h-full" alt="" />
    </a>

    <form class="w-4/7 flex justify-center <md:hidden">
      <input
        class="border border-black border-opacity-40 py-5px px-15px w-2/3 rounded-lg"
        type="text"
        name="{name}"
        placeholder="Qayta aloqa"
      />

      <a href="/answer" class="btn-blue px-25px ml-20px" type="button">
        Yuborish
      </a>
    </form>

    <ul class="flex <md:hidden">
      <li><a class="text-lg mr-5px focus:text-blue-700" href="/">UZ</a></li>
      <div class="h-5 border-1 bg-black border-black mt-3px"></div>
      <li><a class="text-lg ml-5px focus:text-blue-700" href="ru/">РУ</a></li>
    </ul>
  </div>
</div>

<style>
  @import "../base/base.css";
</style>
