---
import Footer from "../components/Footer.astro";
import OrderMain from "../components/order/OrderMain.astro";
import OrderNav from "../components/order/OrderNav.astro";
import Layout from "../layout/Layout.astro"

---

<Layout title="order">
  <div class="h-screen">
    <OrderNav/>
  <OrderMain/>
  <Footer/>
  </div>
</Layout>