<div class="flex w-full bg-blue-700 justify-center h-1/14 <md:h-1/2">
  <ul class="w-17/20 flex h-full items-center justify-between
   <md:flex-col <md:text-xl <md:justify-center @sm:text-base">
    <li class="flex text-white items-center <md:mt-10px">
      <i class="fa-solid fa-location-dot"></i>
      <p class="ml-10px">Toshkent shahri, A.Navoiy ko'chasi, 32-uy</p>
    </li>
    <li class="flex text-white items-center <md:mt-10px">
      <i class="fa-solid fa-phone-volume"></i>
      <p class="ml-10px">+998 71 200-1001</p>
    </li>
    <li class="flex text-white items-center <md:mt-10px">
      <i class="fa-solid fa-envelope"></i>
      <p class="ml-10px">info@zucco.academy</p>
    </li>
  </ul>
</div>